<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 论坛</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">论坛社区</span>
            </button>
            <a class="navbar-brand" href="/publish">论坛社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="话题搜索">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=Iv1.c08e07bf8ea38199&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--主体内容-->
<div class="container-fluid main">
    <div class="row">
        <!--left-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus-sign" aria-hidden="true">发起</span></h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea id="description" class="form-control" rows="20" cols="10" name="description"
                              th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">问题标题</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="输入标签,以,隔开">
                </div>
                <span class="btn-danger" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <!--right-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            昭和萌物,平成怪兽
        </div>
    </div>
</div>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="jquery/layer/layer.js"></script>
<!--
<script>
    $(function () {
        // });

    });

    var jsonObj = {
        title: $("#title"),
        description: $("#description"),
        tag: $("#tag")
    };

    var title = $("#title");
    alert(title);

    // $(".publishBtn").click(function () {

    // var loadingIndex = -1;

    function publish() {
        $.ajax({
            type: "post",
            url: "/publish",
            data: jsonObj,
            success: function (result) {
                if (result) {
                    alert(result);
                    layer.msg(result.message, {time: 3000, icon: 6});
                    location.href = "/";
                } else {
                    alert(result);
                    layer.msg(result.message, {time: 3000, icon: 5, shift: 6});
                }
            }
        });
    }

</script>
-->

</body>
</html>